head
  meta(charset='utf-8')
  meta(
    http-equiv='X-UA-Compatible'
    content='IE=edge'
  )
  meta(
    name='viewport'
    content='width=device-width, initial-scale=1'
  )

  title='jekyll-boilerplate'

  //- Baseline CSS
  //- global template
  link(rel='stylesheet' href='//csvcus.homeaway.com/rsrcs/baseline/2.2.1/stylesheets/baseline-gt.min.css')
  link(rel='stylesheet' href='//csvcus.homeaway.com/rsrcs/baseline/2.2.1/stylesheets/gt.min.css' media='screen')

  //- HA-Bootstrap
  link(href='//csvcus.homeaway.com/rsrcs/ha-bootstrap/2.12.1/css/gt-trav.css', rel='stylesheet', media='screen')



  link(rel='stylesheet' href='/assets/css/gt-responsive.min.css')
  link(rel='stylesheet' href='/assets/css/core.css')







<!-- Production compiled and minified CSS -->
<link rel="stylesheet" href="//csvcus.homeaway.com/rsrcs/baseline/2.2.1/stylesheets/baseline-vrbo.min.css">
<link rel="stylesheet" href="//csvcus.homeaway.com/rsrcs/baseline/2.2.1/stylesheets/vrbo.min.css">

<!-- Production compiled and minified JavaScript -->
<script src="//csvcus.homeaway.com/rsrcs/baseline/2.2.1/javascripts/bootstrap.min.js"></script>



<!-- Production compiled and minified CSS -->
<link rel="stylesheet" href="//csvcus.homeaway.com/rsrcs/baseline/2.2.1/stylesheets/baseline-vr.min.css">
<link rel="stylesheet" href="//csvcus.homeaway.com/rsrcs/baseline/2.2.1/stylesheets/vr.min.css">

<!-- Production compiled and minified JavaScript -->
<script src="//csvcus.homeaway.com/rsrcs/baseline/2.2.1/javascripts/bootstrap.min.js"></script>



<!-- Production compiled and minified CSS -->
<link rel="stylesheet" href="//csvcus.homeaway.com/rsrcs/baseline/2.2.1/stylesheets/baseline-hd.min.css">
<link rel="stylesheet" href="//csvcus.homeaway.com/rsrcs/baseline/2.2.1/stylesheets/hd.min.css">

<!-- Production compiled and minified JavaScript -->
<script src="//csvcus.homeaway.com/rsrcs/baseline/2.2.1/javascripts/bootstrap.min.js"></script>


<!-- Production compiled and minified CSS -->
<link rel="stylesheet" href="//csvcus.homeaway.com/rsrcs/baseline/2.2.1/stylesheets/baseline-odhr.min.css">
<link rel="stylesheet" href="//csvcus.homeaway.com/rsrcs/baseline/2.2.1/stylesheets/odhr.min.css">

<!-- Production compiled and minified JavaScript -->
<script src="//csvcus.homeaway.com/rsrcs/baseline/2.2.1/javascripts/bootstrap.min.js"></script>
